* {
  box-sizing: border-box;
}

body {
  margin: auto;
  padding: 0;
  font-family: "Roboto Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: red;
  position: relative;
  padding-bottom: 150px;
}

a,
h6 {
  color: red !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.nav-wrapper {
  color: blue;
  background-color: black;
  font-size: 1vw;
}

.Section1 {
  color: #fff;
  text-align: center;
}

.page-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: black;
  text-align: center;
}

.footer__SocialMedia {
  display: flex;
}

.footer__socialMedia__li {
  display: inline;
  margin: 20px;
  text-decoration: none;
}

.Section1 {
  display: inline-flex;
  width: 100%;
  justify-content: center;
}

div .center-align {
  align-self: center;
  padding-top: 20px; 
}

.card-linksUl {
  display: inline;
}